[Unit]
Description=Update hBlock hosts file
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/hblock

[Install]
WantedBy=multi-user.target
