#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Onshape
Comment=A product development platform that brings together all the tools needed to develop a product from conception to production.
Exec=/bin/chromium --app=https://cad.onshape.com
Type=Application
Icon=chromium
Categories=Graphics;
Terminal=false
